*{
    margin: 0px;
    padding: 0px;
    background-color: blue;
}
body {
    width: 100%;
    height: 100vh;
    display: grid;
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#image-1{
    height: 200px;
    width: 30%;
    margin: 10px;
}
#image-2{
    height: 200px;
    width: 30%;
    margin: 10px;
}
#image-3{
    height: 200px;
    width: 30%;
    margin: 10px;
}
#div2{
    background-color:aqua;
    width: 65%;
    padding: 10px;
}
#image-4{
    height: 250px;
    width: 46.5%;
    margin: 10px;
    
}
#image-5{
    height: 250px;
    width: 46.5%;
    margin: 10px;
}
#div3{
    background-color:aqua;
    width: 65%;
    padding: 10px;
}
#image-6{
    height: 200px;
    width: 96%;
    margin: 10px;
}
#div4{
    background-color: aqua;
    width: 65%;
    padding: 10px;
}